@charset "UTF-8"

html, body
  margin: 0
  padding: 0

body
  font-family: "helvetia neue", "helvetica", "NotoSansCJKtc-Light", "YuGo-Medium", "HiraKakuPro-W3", "微軟雅黑", "Microsoft YaHei", "微軟正黑體", "Microsoft JhengHei", sans-serif
  font-size: 12px
  font-weight: 500

#textarea
  position: fixed
  bottom: 0
  left: 0
  right: 0
  width: 100%
  height: 30%
  outline: 0
  padding: 10px
  box-sizing: border-box
